<!--<adc-tester adcMouseenter color="red" (hover)="hoverEventHandler()"></adc-tester>-->

<!--<adc-tester-inline  color="green" (hover)="hoverEventHandler()"></adc-tester-inline>-->

<!--<adc-tester-host role="user"></adc-tester-host>-->

<!--Basic directives example as it was before-->
<adc-basic adcUnderline color="pink" adcBold (hover)="hoverEventHandler()"></adc-basic>

<!--Composition inline inside directive-->
<adc-basic-composition adcMouseenter color="green" (hover)="hoverEventHandler()"></adc-basic-composition>

<!--Composition inline inside component-->
<adc-inline  color="blue" (hover)="hoverEventHandler()"></adc-inline>

<!--Inject directive and send it data-->
<adc-event></adc-event>

<!--Overide existed directive-->
<adc-extend-directive role="admin"></adc-extend-directive>
<adc-extend-directive role="user"></adc-extend-directive>







